.discounts__box {
    background-color: #17a2b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 16px 24px;
    font-weight: 700;
}
